* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background);
    padding: 1%;
}

h1 {
    font-family: "Stack Sans Notch";
}

p,
a {
    font-family: "Stack Sans Headline";
}

h1,
p,
a {
    color: var(--text);
}

.title {
    text-align: center;
    width: 100%;
    margin-top: 340px;
}

.title h1 {
    font-weight: 300;
    font-size: 96px;
}

.title p {
    color: var(--primary);
    font-size: 36px;
}

.nav {
    border: solid 2px;
    border-color: var(--primary);
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
}

.nav-links {
    padding-top: 10px;
    padding-left: 30px;
    float: left;
}

.nav-links a {
    text-decoration: underline 2px;
    font-size: 24px;
    font-weight: lighter;
    padding-right: 15px;
}

.nav .icon {
    transition: 0.3s;
    float: right;
}

.icon-large {
    float: right;
    transition: 0.3s;
    scale: 0.9;
    padding-right: 60px;
}

.nav img {
    width: 75px;
    padding-right: 50px;
    padding-top: 10px;
    float: right;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
}

.ball {
    position: absolute;
    width: 20vmin;
    height: 20vmin;
    border-radius: 50%;
    backface-visibility: hidden;
    animation: move linear infinite;
    opacity: 0.5;
}

.ball:nth-child(odd) {
    color: var(--text);
}

.ball:nth-child(even) {
    color: var(--primary);
}


.ball:nth-child(1) {
    top: 77%;
    left: 88%;
    animation-duration: 40s;
    animation-delay: -3s;
    transform-origin: 16vw -2vh;
    box-shadow: 40vmin 0 5.703076368487546vmin currentColor;
}

.ball:nth-child(2) {
    top: 42%;
    left: 2%;
    animation-duration: 53s;
    animation-delay: -29s;
    transform-origin: -19vw 21vh;
    box-shadow: -40vmin 0 5.17594621519026vmin currentColor;
}

.ball:nth-child(3) {
    top: 28%;
    left: 18%;
    animation-duration: 49s;
    animation-delay: -8s;
    transform-origin: -22vw 3vh;
    box-shadow: 40vmin 0 5.248179047256236vmin currentColor;
}

.ball:nth-child(4) {
    top: 50%;
    left: 79%;
    animation-duration: 26s;
    animation-delay: -21s;
    transform-origin: -17vw -6vh;
    box-shadow: 40vmin 0 5.279749632220298vmin currentColor;
}

.ball:nth-child(5) {
    top: 46%;
    left: 15%;
    animation-duration: 36s;
    animation-delay: -40s;
    transform-origin: 4vw 0vh;
    box-shadow: -40vmin 0 5.964309466052033vmin currentColor;
}

.ball:nth-child(6) {
    top: 77%;
    left: 16%;
    animation-duration: 31s;
    animation-delay: -10s;
    transform-origin: 18vw 4vh;
    box-shadow: 40vmin 0 5.178483653434181vmin currentColor;
}

.ball:nth-child(7) {
    top: 22%;
    left: 17%;
    animation-duration: 55s;
    animation-delay: -6s;
    transform-origin: 1vw -23vh;
    box-shadow: -40vmin 0 5.703026794398318vmin currentColor;
}

.ball:nth-child(8) {
    top: 41%;
    left: 47%;
    animation-duration: 43s;
    animation-delay: -28s;
    transform-origin: 25vw -3vh;
    box-shadow: 40vmin 0 5.196265905749415vmin currentColor;
}

.nav-links a:hover {
    opacity: 0.7;
}

section {
    display: none;
}

section.visible-section {
    display: block;
}

.down-button {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: solid 1px;
    font-size: 2em;
    font-weight: bolder;
    color: var(--text);
    background-color: transparent;
    transition: 0.5s;
}

.down-button:hover {
    transition: 0.5s;
    color: var(--accent);
}

.cards-container {
    margin-top: 150px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.card {
    border: 2px solid var(--text);
    border-radius: 8px;
    margin-bottom: 50px;
    text-align: center;
    width: 90%;
}

.card .content {
    padding-left: 1%;
    padding-right: 5%;
    padding-top: 20px;
}

.card .content img {
    width: 80%;
    padding-left: 5%;
    max-width: 600px;
    max-height: 400px;
}

.card .content .card-title {
    font-size: 24px;
    text-decoration: underline;
}

.card .content button {
    padding: 5px;
    min-width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--accent);
    border-radius: 10px;
    background-color: transparent;
    color: var(--accent);
    font-weight: bold;
    transition: 0.5s;
}

.card .content button:hover {
    transition: 0.5s;
    color: white;
    border: 1px double white;
}

.bio,
.rating {
    text-align: center;
}

.bio {
    margin-top: 150px;
    font-size: 18px;
}

.bio a {
    color: var(--accent);
}

.bio button {
    margin-top: 25px;
    padding: 8px;
    min-width: 100px;
    color: var(--text);
    background-color: transparent;
    border: 1px solid var(--text);
    border-radius: 5px;
    transition: 0.5s;
}

.bio button:hover {
    transition: 0.5s;
    border-color: var(--primary);
    color: var(--primary);
}

.rating {
    margin-top: 25px;
    font-size: 17px;
}

.rating .author {
    font-size: 14px;
    color: var(--accent);
}

.rating span {
    color: var(--accent);
}

.rating span.checked {
    color: var(--text);
}

.linebreak {
    background-color: var(--primary);
    padding: 1px;
    margin-top: 25px;
}